@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Po wejściu w Show Enties należy kliknąć Import co spowoduje wypełnieniem bazy danymi.</p>
</div>
